/* Custom styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.App .routes > main {
  display: flex;
  flex-grow: 1;
}

.App .routes > main > * {
  flex-grow: 1;
}

.App nav + div {
  flex: 1;
}

main.initial {
  background-image: url('/src/images/100_1342.JPG');
  background-size: cover;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  justify-content: center;
  gap: 8px;
}

label {
  text-align: left;
}

footer {
  background-color: #f8f9fa;
  text-align: center;
}
